# Python
__pycache__/
*.py[cod]
*$py.class

# Venv
.venv/

# MyPy
.mypy_cache/

# Coverage
.coverage

# History
.history/

# Data
data/data.db

# Docs
Спецификация на проект по _Програмиране с Python_.pdf
